body{
    background-color:rgb(224, 198, 214) ;
    color: white;
}
h1{
    color:rgb(161, 10, 103);
    border: solid;
    border-color: rgb(161, 10, 103);
    background: rgb(232, 92, 188);
    border-width: 10cm;
}
button{
    border: none;
    background: rgb(137, 200, 232);
}