body{
    background-color:rgb(170, 230, 245) ;
    color: rgb(197, 60, 137);
}
h1{
    color:rgb(161, 10, 103);
    border: solid;
    border-color: rgb(161, 10, 103);
    background: rgb(232, 92, 188);
    
}
button{
    border: none;
    background: rgb(137, 200, 232);
}